
.nav.nav-tabs{
    width: auto;
    display: flex;
    justify-content: center;
}

.nav-tabs .nav-link.active{
    color:#05C886;
    background-color: rgba(5, 200, 135, 0.021);
    font-weight: 500;
}

.nav-tabs .nav-link{
    color: black;
    font-weight: 500;
}


.tab-content .tab-pane h3{
    margin-bottom: 30px;

}

.tab-content .tab-pane .nomes-alunos{
    width: 100vw;
    overflow-x: visible;
    padding-right: 70px;
}

.tab-content .tab-pane .nomes-alunos table{
    white-space: nowrap;
}

.nomes-alunos table{
    white-space: nowrap;
}

.tab-content .tab-pane .nomes-alunos{
    overflow-x: scroll;
}

.nomes-alunos{
    overflow-x: scroll;
}


