.form-wrapper{
    width: 500px;
    padding: 50px 0px;
    background-color: white;
}

.form-wrapper h2{
    text-align: center;
    margin-bottom: 40px;
}

.form-wrapper .input-wrapper{
    margin-bottom: 30px;
}

.form-wrapper .input-wrapper label{
    font-size: 1.01rem;
    margin-bottom: 5px;
    color: #1e1e1e;
    font-family: 'Poppins', 'sans serif';
}

.form-wrapper .input-wrapper input{
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #1e1e1e;
    color: #1b1b1b;
}

.form-wrapper button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1e1e1e;
    color: #d3d2d2;
}
